[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
networkx = "==2.1"
scipy = "==1.0.0"
matplotlib = "==2.2.0"
numpy = "==1.14.2"
deap = "==1.2.2"

[requires]
python_version = "3.6"
